<mat-toolbar color="primary">
  <span class="spacer"></span>

  <button mat-button routerLink="/">Dashboard</button>
  <button mat-button routerLink="/projects">Projets</button>
  <button mat-button routerLink="/planning">Planning</button>
  <button mat-button routerLink="/companies">Entreprises</button> 

  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item routerLink="/steps-manager">Gestion des étapes</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="settingsMenu">Paramètres</button>
</mat-toolbar>

<router-outlet></router-outlet>
